@font-face {
    font-family:churchward;
    src:url(/fonts/churchward.otf);
}

/* special iphone stuff */
@media screen and (max-width: 400px) {
    .row {
        margin-left: -15;
        margin-right: -15;
    }
}

@media screen and (min-width: 401px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

/* LAYOUT */
body {
    background: url(/images/boat_front.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header h1 {
    font-family: churchward;
    font-size: 60px;
    margin-top: 10px;
}

.head-row {
    background-color: rgb(115, 99, 63);
    background-color: rgba(115, 99, 63, .9);
}

nav > .row > div {
    height: 90px;
}

.nav {
    margin-top: 20px;
}

.nav-pills a {
    color: black;
}

.nav-pills li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: black;
    background-color: transparent;
    font-weight: bold;
}

.pattern {
    background-image: url(/images/pattern.png);
    background-size: contain;
    height: 40px;
}


/* PAGE */
.row-of-info {
    padding-top: 100px;
}
.info {
    background: rgb(248, 248, 255); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(248, 248, 255, .5);
}

/* THUMBS */
a.thumbnail {
    background-color: transparent;
}

.thumb-row {
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.thumb-row .thumbnail {
    margin-top: 10px;
}

.modal-dialog {
    width: 90%;
}

.modal-body img {
    width: 100%;
    height: auto;
}

.modal-header {
    border-bottom: none;
}