<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">
          
      <link rel="stylesheet" href="/css/bootstrap.min.css">

      <link rel="stylesheet" href="/css/main.css">

  </head>
  <body style="background-image: url(images/{{page.name}}_bg.jpg)">

    <nav>
      <div class="row">
        <div class="col-md-offset-1 col-md-3"><h1>Gaualofa</h1></div>
        <div class="col-md-8 nav-container">
          <ul class="nav nav-pills">
            <li {% if page.name == "about" %}class="active"{% endif %}><a href="index.html">About</a></li> 
            <li {% if page.name == "voyage_with_us" %}class="active"{% endif %}><a href="voyage_with_us.html">Voyage With Us</a></li>
            <li {% if page.name == "photo_gallery" %}class="active"{% endif %}><a href="photo_gallery.html">Photo Gallery</a></li>
            <li {% if page.name == "merchandise" %}class="active"{% endif %}><a href="merchandise.html">Merchandise</a></li>
            <li {% if page.name == "contact" %}class="active"{% endif %}><a href="contact.html">Contact</a></li>
         </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-xs-12 pattern"></div>
    </div>


        {{ content }}
        
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
